:root {
    --primary: #8a7f77;
    /* warm terracotta */
    --secondary: #c9c2b4;
    /* soft stone background */
    --accent: #7f766d;
    /* golden highlight */
    --text: #373232;
    /* dark readable text */
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    text-align: center;
}

picture img {
    width: 100%;
    max-height: 80vh;
    display: block;
    object-fit: cover;
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .weather h2::after {
        content: "⛅";
    }
}

.weather-icon {
    display: none;
}