@media (min-width: 700px) {

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }

    nav {

        display: flex;
        flex-direction: row;
        gap: 1rem;
        background: none;
    }

    #menu {
        display: none;
    }
}